[submodule "src/linorobot2_hardware"]
	path = src/linorobot2_hardware
	url = https://github.com/Anders-Clement/linorobot2_hardware
[submodule "src/linorobot2"]
	path = src/linorobot2
	url = https://github.com/Anders-Clement/linorobot2
